{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}Chalab{% endblock %}</title>

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://use.fontawesome.com/26ae41ff0f.css">
    <link href="https://fonts.googleapis.com/css?family=Cabin|Raleway" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'chalab/style.css' %}"/>

    {% block extra_head %}
    {% endblock %}

</head>
<body>
<div class="container">
    {% block body %}

        <header class="bottom20">
            <div id="logo" class="text-center bottom20">
                <h1><a href="/">Chalab</a></h1>
                <h4>Machine Learning Challenges Creator</h4>
            </div>

            <nav>
                <ul class="nav nav-justified">
                    {% if user.is_authenticated %}
                        <li id="home"><a href="{% url 'home' %}">Home</a></li>
                        <li id="profile"><a href="{% url 'user:profile' %}">Profile</a></li>
                        <li id="logout"><a href="{% url 'account_logout' %}">Logout</a></li>
                    {% else %}
                        <li id="home"><a href="{% url 'home' %}">Home</a></li>
                        <li id="about"><a href="{% url 'about' %}">About</a></li>
                        <li id="signup"><a href="{% url 'account_signup' %}">Register</a></li>
                        <li id="login"><a href="{% url 'account_login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}

        <div id="{% block app_name %}{% endblock %}" class="app">
            <div id="{% block panel_name %}{% endblock %}" class="panel">
                <div id="{% block module_name %}{% endblock %}" class="module">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    {% endblock %}
    <footer class="footer">
        <p>2016, Work In Progress - Version {% VERSION %}</p>
    </footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<link rel="stylesheet"
      href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

{% bootstrap_javascript %}

<script>
    $(function () {
        $('.date-picker').datepicker({
            dateFormat: 'yy-mm-dd'
        })
    });
</script>
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: '.tinymce',
        plugins: "code",
        toolbar: "undo , redo | formatselect | bold, italic | alignleft, aligncenter, alignright | bullist, numlist | outdent, indent | removeformat , code",
    });
</script>
</body>
</html>
