/**
 * Vertical Stepper
 * http://stackoverflow.com/a/33367557/843194
**/
.vertical-stepper *,
.vertical-stepper *:before,
.vertical-stepper *:after {
    box-sizing: border-box;
}

.vertical-stepper .step {
    position: relative;
    min-height: 100px /* circle-size + space */;
}

.vertical-stepper .step > div:first-child {
    position: static;
    height: 0;
}

.vertical-stepper .step > div:last-child {
    margin-left: 32px;
    padding-left: 16px;
}

.vertical-stepper .circle {
    background: #4285f4;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 16px;
    position: relative;
    color: white;
    text-align: center;
}

.vertical-stepper .circle.ready {
    background: #65CE3E;
}

.vertical-stepper .circle.not-ready {
    background: #F4A842;
}

.vertical-stepper .circle.doable {
    background-color: #5b2ebf;
}

.vertical-stepper .circle.not-doable {
    background-color: #adb8bd;
}

.vertical-stepper .circle .fa {
    margin: 0;
}

.vertical-stepper .line {
    position: absolute;
    border-left: 1px solid gainsboro;
    left: 16px;
    bottom: 10px;
    top: 42px;
}

.vertical-stepper .step:last-child .line {
    display: none;
}

.vertical-stepper .title > h3 {
    margin-top: 0;

}

/**
 * Tools
**/

.fa {
    margin-right: 6px;
}

.top10 {
    margin-top: 10px;
}

.bottom20 {
    margin-bottom: 20px;
}

/**
 * Header
 */
header #logo h1 {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 4px;
    font-size: 3.8em;
}

header #logo h4 {
    font-family: 'Cabin', sans-serif;
    margin-top: 3px;
    font-size: 1em;
    color: #a9a9a9;
}

header #logo a {
    text-decoration: none;
}

header #logo a:hover {
    text-decoration: none;
}

nav .nav {
    background-color: #D9E8F5;
    border-radius: 0.2em;
}

nav .nav > li > a, .nav > li > a:visited {
    color: #304269;
    border-radius: 0.2em;
}

nav .nav > li > a:focus, .nav > li > a:hover {
    color: #FFFFFF;
    background-color: rgb(235, 138, 82);
}

/**
 * Footer
 */
footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    border-top: 1px solid #eee;
}

/**
 * Challenge Home
 */
.logo {
    display: inline-block;
    height: 90%;
    min-height: 90px;
}

.logo img {
    width: 80%;
    height: 80%;
}

.fake-logo {
    display: inline-block;
    position: absolute;
    width: 80%;
    height: 100%;
    color: white;
    border-radius: 10px;
    background-color: #D9E8F5;
    padding: 1em;
}

.row.challenge {
    border: 1px solid #D9E8F5;
    border-radius: 10px;
    padding: 1em;
}

.row.challenge:hover {
    border: 1px solid rgb(235, 138, 82);
}

.row.challenge h3 {
    margin-top: 0;
}

.row.challenge .infos {
}

/**
 * Challenge Wizard
 */
.flow-crumbs {

}

.flow-crumbs .nav li a {
    background-color: #D9E8F5;
}

.flow-crumbs .nav li.active a {
    background-color: #9bcbf5;
}

.flow-crumbs .nav li a:hover {
    color: #FFFFFF;
    background-color: rgb(235, 138, 82);
}

.flow-crumbs ol.nav {
    display: inline-block;
}

.challenge-title {
    text-align: center;
}

.flow-nav {
    margin-top: 80px;
    background-color: #D9E8F5;
    padding: 0.5em;
    border-radius: 15px;
}

.status.ready {
    background-color: #27bf50;
}

.status.not-ready {
    background-color: #bf3d27;
}

.update form .buttons {
    text-align: center;
}

/**
 * Dataset Picker
 */
.form-block {
    margin: 0;
    padding: 1em;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
}

.btn-disabled {
    cursor: not-allowed;
    opacity: .65;
}

.wiki-help {
    font-size: 2em;
    float: right;
}

.top-margin {
    margin-top: 10px;
}

.container-padding {
    padding: 45px;
}

/* Restyle stuff goes here */

/*.main-background {*/
/*background: linear-gradient(to top,*/
/*rgba(30, 87, 153, 0.8) 0%,*/
/*rgba(125, 185, 232, 0) 100%),*/
/*url(images/dark-triangles.png); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 ); !* IE6-9 *!*/
/*}*/

.main-background {
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,
    rgba(30, 87, 153, 0.85) 40%,
    rgba(255, 255, 255, 0.85) 100%),
    url(images/dark-triangles.png) 1% repeat; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#007db9e8', GradientType=0); /* IE6-9 */
    background-size: 100% 150%;
}

.white-text {
    color: white;
}

.table-row-highlighting {
    background-color: rgba(55, 55, 55, 0.1)
}

html {
    height: 100%;
}