/**
 * Vertical Stepper
 * http://stackoverflow.com/a/33367557/843194
**/
.vertical-stepper *,
.vertical-stepper *:before,
.vertical-stepper *:after {
    box-sizing: border-box;
}

.vertical-stepper .step {
    position: relative;
    min-height: 100px /* circle-size + space */;
}

.vertical-stepper .step > div:first-child {
    position: static;
    height: 0;
}

.vertical-stepper .step > div:last-child {
    margin-left: 32px;
    padding-left: 16px;
}

.vertical-stepper .circle {
    background: #4285f4;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 16px;
    position: relative;
    color: white;
    text-align: center;
}

.vertical-stepper .circle.ready {
    background: #65CE3E;
}

.vertical-stepper .circle.not-ready {
    background: #F4A842;
}

.vertical-stepper .circle .fa {
    margin: 0;
}

.vertical-stepper .line {
    position: absolute;
    border-left: 1px solid gainsboro;
    left: 16px;
    bottom: 10px;
    top: 42px;
}

.vertical-stepper .step:last-child .line {
    display: none;
}

.vertical-stepper .title > h3 {
    margin-top: 0;

}

/**
**/

.fa {
    margin-right: 6px;
}

.top10 {
    margin-top: 10px;
}

.bottom20 {
    margin-bottom: 20px;
}

header #logo h1 {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 4px;
    font-size: 3.8em;
}

header #logo h4 {
    font-family: 'Cabin', sans-serif;
    margin-top: 3px;
    font-size: 1em;
    color: #a9a9a9;
}

header #logo a {
    text-decoration: none;
}

header #logo a:hover {
    text-decoration: none;
}

.nav {
    background-color: #D9E8F5;
    border-radius: 0.2em;
}

.nav > li > a, .nav > li > a:visited {
    color: #304269;
    border-radius: 0.2em;
}

.nav > li > a:focus, .nav > li > a:hover {
    color: #FFFFFF;
    background-color: rgb(235, 138, 82);
}

footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    border-top: 1px solid #eee;
}
