{% extends 'wizard/base.html' %}
{% load bootstrap3 %}

{% block module_name %}editor{% endblock %}

{% block flow_content %}
    <div class="update">
        <a href="{% url 'wizard:challenge:metric.pick' pk=challenge.pk %}"
           class="btn btn-default picker">
            Pick another metric
        </a>
        <form class='editor' action="#" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}

            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% bootstrap_icon "star" %} Update
                </button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}
