{% extends 'wizard/base.html' %}
{% load bootstrap3 %}

{% block module_name %}picker{% endblock %}

{% block flow_content %}
    <h3>Which metric do you want to use?</h3>

    <div class="pick">
        <div class="public">
            <h4>Use a Public Metric</h4>

            <form class="picker" method="POST" action="#">
                {% csrf_token %}

                <input type="hidden" name="kind" value="public"/>

                <select name="metric">
                    {% for metric in public_metrics %}
                        <option value="{{ metric.pk }}">{{ metric.name }}</option>
                    {% endfor %}
                </select>

                {% buttons %}
                    <button class="primaryAction btn btn-primary"
                            type="submit">Use
                    </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}
