version: '2'
volumes:
  dbvolume:
services:
  web:
    extends:
      file: docker-compose.base.yml
      service: web
    command: /usr/local/bin/gunicorn chalab.wsgi:application -w 2 -b :8000 --reload
    environment:
      - "DJANGO_SETTINGS_MODULE=instances.local_docker"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - celery
  db:
    extends:
      file: docker-compose.base.yml
      service: db
    volumes:
      - dbvolume:/var/lib/postgresql/data
  rabbitmq:
    extends:
      file: docker-compose.base.yml
      service: rabbitmq
  celery:
    extends:
      file: docker-compose.base.yml
      service: celery
    depends_on:
      - rabbitmq
      - db
    environment:
      - "DJANGO_SETTINGS_MODULE=instances.local_docker"
    volumes:
      - .:/app
    command: celery -A chalab.chacelery worker --loglevel=debug
  flower:
    extends:
      file: docker-compose.base.yml
      service: flower
    depends_on:
      - celery
      - rabbitmq

