Django
django-bootstrap3
psycopg2
django-allauth
Pillow
PyYAML
Celery
git+git://github.com/celery/django-celery.git#egg=django-celery # need the last master (9 sept 2016, to avoid python3 + django 1.10 issues)
flower

# Testing
bs4
lxml
cssselect
selenium
selenium-requests
django-debug-toolbar
pytest-django
pytest-timeout

