{% extends 'chalab/base.html' %}
{% load bootstrap3 %}

{% block title %}Create a new competition{% endblock %}

{% block app_name %}wizard{% endblock %}
{% block panel_name %}challenge{% endblock %}

{% block content %}
    <h2>{{ object.title }}</h2>
    <h3>{{ object.organization_name }}</h3>

    <p>{{ object.description }}</p>

    {% comment %}
    <ol>
        <li><a href="{% url 'wizard:data' object.id %}">Data</a></li>
        <li><a href="{% url 'wizard:task' object.id %}">Task</a></li>
        <li><a href="{% url 'wizard:metric' object.id %}">Metric</a></li>
        <li><a href="{% url 'wizard:protocol' object.id %}">Protocol</a></li>
        <li><a href="{% url 'wizard:baseline' object.id %}">Baseline</a></li>
        <li><a href="{% url 'wizard:documentation' object.id %}">Documentation</a></li>
        <li><a href="{% url 'wizard:rules' object.id %}">Rules</a></li>
    </ol>

    <a href="{% url 'wizard:test' object.id %}" class="btn btn-block btn-primary">
        Test
    </a>
    <a href="{% url 'wizard:download' object.id %}" class="btn btn-block btn-primary">
        Test
    </a>
    <a href="{% url 'wizard:ship' object.id %}" class="btn btn-block btn-primary">
        Test
    </a>
    {% endcomment %}
{% endblock %}
