{% extends 'chalab/base.html' %}
{% load bootstrap3 %}

{% block title %}Documentation{% endblock %}

{% block app_name %}wizard{% endblock %}
{% block panel_name %}documentation{% endblock %}

{% block content %}
    <h1 class="title">Documentation</h1>

    <div class="pages">
        {% for page in pages %}
            <div class="row page">
                <h3 class="title">{{ page.title }}</h3>
                <a href="{% url 'wizard:challenge:documentation.page' pk=challenge.id page_id=page.id %}"
                   class="edit">
                    Edit
                </a>
            </div>
        {% endfor %}
    </div>

    {% include 'wizard/flow/_nav.html' %}
{% endblock %}
