{% extends 'chalab/base.html' %}

{% block title %}Welcome{% endblock %}

{% block app_name %}wizard{% endblock %}

{% block content %}
<div class="hero">
    <h1>Your challenges:</h1>
    <div class="details">
        <p>
        </p>
    </div>
</div>

<div class="row top10">

    <div class="col-md-4 {% if not groups %}col-md-offset-4{% endif %}">
        <a class="create-challenge btn btn-block btn-primary"
           href="{% url 'wizard:create' %}">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Create a New Challenge
        </a>
    </div>

{% for group in groups %}
    <div class="col-md-4">
        <a class="btn btn-block warning-color"
           style="color:white;background-color:#{{ group.get_color }};"
           href="{% url 'wizard:create_from_group' group_id=group.id %}">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Create a New "{{ group.name }}"
        </a>
    </div>
{% endfor %}
</div>

<div class="challenges">
    {% for challenge in object_list %}
    <a href="{% url 'wizard:challenge' pk=challenge.pk %}">
        <div class="row top10 challenge">
            <div class="col-xs-2 logo">
                {% if challenge.logo %}
                <img class="center-block img-rounded img-responsive"
                     src="{{ challenge.logo.url }}">
                {% else %}
                <div class="fake-logo">{{ challenge.title|first }}</div>
                {% endif %}
            </div>
            <div class="col-xs-6 desc">
                <h3 class="title">{{ challenge.title }}</h3>
                <p class="org text-muted">Organized
                    by: {{ challenge.organization_name }}</p>

                <p class="description">
                    {{ challenge.description }}
                </p>
            </div>

            <div class="col-xs-4 infos">
                <p>
                    Created: {{ challenge.created_at }}
                </p>
                <p>
                    Last change: {{ challenge.updated_at }}
                </p>
            </div>
        </div>
    </a>
    {% empty %}
    <h3>Here you'll see your challenges.</h3>
    {% endfor %}
</div>


{% endblock %}
