{% extends 'chalab/base.html' %}
{% load bootstrap3 %}

{% block title %}Create a new competition{% endblock %}

{% block app_name %}wizard{% endblock %}
{% block panel_name %}challenge{% endblock %}

{% block content %}
    <div class="description panel panel-default">
        <div class="row">
            <div class="col-xs-2">
                {% if object.logo %}
                    <img class="center-block img-rounded img-responsive"
                         src="{{ object.logo.url }}">
                {% endif %}
            </div>
            <div class="col-xs-7">
                <h1 class="">
                    {{ object.title }}
                </h1>

                <h3 class="text-muted">
                    <small>
                        Organized by {{ object.organization_name }}
                    </small>
                </h3>

                <p class="content">{{ object.description }}</p>
            </div>
            <div class="col-xs-3">
                <a href="{% url 'wizard:challenge:edit' pk=challenge.pk %}"
                   class="btn btn-edit small">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    Edit
                </a>
                <p>
                    Created: {{ challenge.created_at }}
                </p>
                <p>
                    Last change: {{ challenge.updated_at }}
                </p>
            </div>
        </div>
    </div>


    <div class="definition panel {% if object.is_ready %}ready panel-info{% else %}panel-warning{% endif %}">
        <div class="panel-heading">
            {% if not object.is_ready %}
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            {% endif %}
            Challenge
            Definition{% if not object.is_ready %} (incomplete){% endif %}:
        </div>
        <div class="panel-body">
            {% include 'wizard/flow/_descr.html' %}
        </div>
    </div>

    <script type="text/javascript">
        {% if bundler and not bundler.done %}
            var F = function () {
                var jqxhr = $.get("{% url 'wizard:challenge:bundler:status_json' pk=object.pk %}")
                        .done(function (data) {
                            if (data.state == "finished") {
                                console.log("Bundle finished");
                                $('#building-btn').html(window.BUILT_BTN);
                            }
                            else {
                                console.log("Still building");
                                window.setTimeout(F, 4000);
                            }
                        })
                        .fail(function (data) {
                            console.log("Failed AJAX status call:" + data)
                        });
            };

            F();
        {% endif %}
    </script>

    <div class="complete panel {% if object.is_ready %}ready panel-info{% else %}panel-warning{% endif %}"
         id="complete-panel">
        <div class="panel-heading">
            {% if not object.is_ready %}
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            {% endif %}
            Packaging & Testing:
        </div>
        <div class="panel-body">
            {% if not object.is_ready %}
                <div class="well text-center">
                    Once you complete the challenge definition,
                    this section will contains build & exports tools.
                </div>
            {% else %}
                <div class="row build text-center">
                    <div class="col-xs-4">
                        {% if bundler and not bundler.done %}
                            <script type="text/javascript">
                                window.BUILT_BTN = ""
                                        + "<a href=\"{% url 'wizard:challenge' pk=object.pk %}\""
                                        + "class=\"btn btn-block btn-success\">"
                                        + "<i class=\"fa fa-refresh\"></i>"
                                        + "Build Completed! Refresh the page</a>";
                            </script>
                            <span id="building-btn">
                            <button class="btn disabled btn-block">
                                <i class="fa fa-cog fa-spin fa-fx" aria-hidden="true"></i>
                                Building...
                            </button>
                            </span>
                        {% else %}
                            <form action="{% url 'wizard:challenge:bundler:build' object.id %}">
                                {% csrf_token %}
                                <button type="submit"
                                        class="btn btn-block btn-warning">
                                    <i class="fa fa-gears" aria-hidden="true"></i>
                                    Build
                                </button>
                            </form>
                        {% endif %}
                    </div>
                    <div class="col-xs-4">
                        {% if not bundler %}
                            <button class="btn btn-default disabled btn-block">
                                <i class="fa fa-gears" aria-hidden="true"></i>
                                Logs
                            </button>
                        {% else %}
                            <a class="btn btn-block btn-default"
                               href="{% url 'wizard:challenge:bundler:logs' object.id %}">
                                Logs
                            </a>
                        {% endif %}
                    </div>
                    <div class="col-xs-4">
                        {% if bundler %}
                            Build Status:
                            <span class="status">{{ bundler.get_state_display }}</span>
                            <br/>
                            {% if bundler.done %}
                                Last build: {{ bundler.closed | date:'Y-m-d H:i' }}
                            {% endif %}
                        {% else %}
                            Once your challenge is ready, press the build button to prepare the
                            package.
                        {% endif %}

                    </div>
                </div>
                <div class="row download top10 text-center">
                    <div class="col-xs-4">
                        {% if bundler.is_download_ready %}
                            <a href="{% url 'wizard:challenge:bundler:download' object.id %}"
                               class="btn btn-success btn-block">
                                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                Download
                            </a>
                        {% else %}
                            <button type="submit" class="btn btn-block disabled">
                                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                Download
                            </button>
                        {% endif %}
                    </div>
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-block disabled">
                            <i class="fa fa-gears" aria-hidden="true"></i>
                            Test
                        </button>
                    </div>
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-block disabled">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            Publish
                        </button>
                    </div>
                </div>
            {% endif %}
            <div class="row delete top10 text-center">
                <div class="col-xs-4 col-xs-offset-4">
                    <button type="submit" class="btn btn-block btn-danger disabled">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
