{% extends "account/base.html" %}

{% load bootstrap3 %}
{% load i18n %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}
    <h1>{% trans "Sign Up" %}</h1>


    {% blocktrans %}
        <p>Already have an account? Then please</p>
        <a href="{{ login_url }}">login</a>
    {% endblocktrans %}


    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}"
                   value="{{ redirect_field_value }}"/>
        {% endif %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                Submit
            </button>
        {% endbuttons %}
    </form>

{% endblock %}
