{% extends 'wizard/base.html' %}
{% load static %}
{#{% load duplicate_dataset_filters %}#}
{% load bootstrap3 %}

{% block module_name %}editor{% endblock %}

{% block flow_content %}
    <div align="center" class="update">
        <div class="desc panel-primary">
            <div class="panel-heading">
                <h3 class="">Current Dataset:</h3>
            </div>
            <div class="panel-body">
                <table class="table table-responsive well">
                <thead>
                <tr class="bg-success">
                    <th>Name:</th>
                    <th>Zip File</th>
                    <th>Owner</th>
                    <th>ID</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ object.name }}</td>
                    <td>{{ object.raw_zip }}</td>
                    <td>{{ object.owner }}</td>
                    <td>{{ object.pk }}</td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
    <hr>
    {% if operation == "mixed" %}
        {% include 'wizard/data/_mixed.html' %}
    {% elif operation == 'overwrite' %}
        {% include 'wizard/data/_overwrite.html' %}
    {% elif operation == 'rename' %}
        {% include 'wizard/data/_rename.html' %}
    {% endif %}
    </div>
{% endblock %}
